@CHARSET "UTF-8";

#modifyLayer {
	display: none;
	border: 0px solid #cccccc;
	margin: 0;
	padding: 0px;
/* 	background-color: #ffffff; */
	z-index: 5;
}

#modifyLayer .b-close {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #f37a20;
	font-weight: bold;
	cursor: hand;
}

#modifyLayer .popupContent {
	margin: 0;
	padding: 0;
	text-align: center;
	border: 0;
}

#modifyLayer .popupContent iframe {
	width: 422px;
	height: 568px;
	border: 0;
	padding: 0px;
	margin: 0;
	z-index: 10;
}

.logo_naver {
	margin-left : 8px;
	margin-right : 3px;
	display:inline-block;
	width: 18px; height: 18px;
    background: url("../img/naver.png") no-repeat;
    background-size: contain;
    vertical-align : middle;
}

.logo_kakao {
	margin-left : 8px;
	margin-right : 3px;
	display:inline-block;
	width: 18px; height: 18px;
    background: url("../img/kakao.png") no-repeat;
    background-size: contain;
    vertical-align : middle;
}

.logo_facebook {
	margin-left : 8px;
	margin-right : 3px;
	display:inline-block;
	width: 18px; height: 18px;
    background: url("../img/facebook.png") no-repeat;
    background-size: contain;
    vertical-align : middle;
}

.logo_google {
	margin-left : 8px;
	margin-right : 3px;
	display:inline-block;
	width: 18px; height: 18px;
    background: url("../img/google.png") no-repeat;
    background-size: contain;
    vertical-align : middle;
}

/**************************************************************/
/* 로딩 이미지 관련 */
.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
	z-index : 0;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.2); /*not in ie */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
}
.wrap-loading div{ /*로딩 이미지*/
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -21px;
    margin-top: -21px;
}
.display-none{ /*감추기*/
    display:none;
}
/**************************************************************/