@charset "utf-8";

.snsbtnlist {
	padding : 15px 0 0 10px;
	overflow:  hidden;
}


.btn_kakao {
	float : left;
	width: 61px;
	height: 51px;
	background: url("../img/kakao.png");
	text-indent: -9999px;
	line-height: 0;
	white-space: nowrap;
	overflow: hidden;
}

.btn_naver {
	float : left;
	width: 61px;
	height: 51px;
	background: url("../img/naver.png");
	text-indent: -9999px;
	line-height: 0;
	white-space: nowrap;
	overflow: hidden;
	margin-left : 20px;
}

.btn_facebook {
	float : left;
	width: 61px;
	height: 51px;
	background: url("../img/facebook.png");
	text-indent: -9999px;
	line-height: 0;
	white-space: nowrap;
	overflow: hidden;
	margin-left : 20px;
}

.btn_google {
	float : left;
	width: 61px;
	height: 51px;
	background: url("../img/google.png");
	text-indent: -9999px;
	line-height: 0;
	white-space: nowrap;
	overflow: hidden;
	margin-left : 20px;
}