
.content, canvas {
	background: white;
}

.content {
/* 	width: 960px; */
	left : 60%;
	height: 400px;
	overflow: hidden;
	padding: 1em;
	box-sizing: border-box;
}

.loading {
	position: relative;
}

.loading:after {
	content: url("../art/loading.gif");
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -51px;
	opacity: 0.8;
}

#error, #mobile {
	width: 960px;
	height: 400px;
	display:none;
	text-align: left;
	padding: 1em;
}

body.embedded header {
	display: none;
}

body.embedded {
	margin: 0;
}
