#player {
	width: 451px;
	height: 101px;
	background-image: url('../art/player.png');

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#blocker {
	background-color: #f00;
	opacity: 0;
	width: 451px;
	height: 101px;
	cursor: pointer;
}

#player DIV {
	position: absolute;
}

.button {
	width: 64px;
	height: 64px;
	top: 31px;
}

#playBtn {
	left: 324px;
}

.playBtn {
	background-image: url('../art/buttonPlay.png');
}

.playBtn:hover {
	background-image: url('../art/buttonPlayHover.png');
}

.pauseBtn {
	background-image: url('../art/buttonPause.png');
}

.pauseBtn:hover {
	background-image: url('../art/buttonPauseHover.png');
}

#stopBtn {
	left: 387px;
}

.stopBtn {
	background-image: url('../art/buttonStop.png');
}

.stopBtn:hover {
	background-image: url('../art/buttonStopHover.png');
}

#labels {
	top: 35px;
	left: 37px;
	position: absolute;
}

#player LABEL {
	color: #336666;
}

#song {
}

#artist {
	top: 52px;
	left: 37px;
}

#track {
	width: 262px;
	height: 5px;
	top: 78px;
	left: 40px;
	background-image: url("../art/scubberBar.png");
}

#thumb {
	cursor: pointer;
	background-image: url("../art/scrubberPlayhead.png");
	width: 16px;
	height: 16px;
	top: -5px;
}

.disabled {
	opacity: 0.5;
}